<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Books</h1>
    <a href="{%url 'books:new'%}"><button>Add book</button></a>
    
    <div>
        {%for book in books%}
        <ul>
            <li><a href="{%url 'books:detail' book.id%}">{{book.title}}</a></li>
            <li>{{book.author}}</li>
            <li>{{book.status}}{%if book.date_read%}: {{book.date_read}} {%endif%}</li>
        </ul>     
        {%endfor%}
    </div>
   
</body>
</html>